@import 'variables.scss';
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat');

 body {
    background: #f4f4f4;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #ddd;
}

::-webkit-scrollbar-thumb {
    background: #666;
}

/*
h1, h2, h3, h4, h5 {
    font-family: 'Rubik', sans-serif
}
*/

.container {
    margin: 0 auto;
}

.card {
    border-radius: 5px;
    background: #fff;
    padding: 1em;
}

.sidebar {
    width: 20%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    border-right: 1px solid #f4f4f4;
}

.sidebar .logo {
    border-bottom: 1px solid #eaeaea;
    font-family: 'Montserrat', sans-serif;
}

.sidebar .logo-firstLetter {
    color: $primary_colour;
}

.sidebar h1,
.sidebar h3 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.mainContent {
    margin-left: 20%;
    padding: 0 2em;
}

.mainHeader {
    display: flex;
    justify-content: space-between;
    margin: 2em 0;
    align-items: center;
}

ul.reset {
    margin: 0;
    padding: 0;
}

.mainNav {
    border-top: 3px solid rgba(255,255,255,0.1);
    border-bottom: 3px solid rgba(255,255,255,0.1);
    padding: 1em 0;
}

.mainNav a {
    text-decoration: none;
}

.mainNav a:hover {
    text-decoration: underline;
}

.form-group {
    margin-bottom: 1em;
}

.form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.25em;
}

.form-input {
    font-size: 1.2em;
    line-height: 1.2em;
    border: 1px solid #eaeaea;
}

.fullWidth {
    display: block;
    width: 100%;
}

.align-left {
    text-align: right;
}

.btn {
    border: none;
    padding: 0.75em 1em;
    cursor: pointer;
    font-size: 1em;
    border-radius: 4px;
}

.btn:focus {
    outline: none;
}

.btn-primary {
    background: lighten($primary_colour, 5%);
    color: #fff;
}

.btn-primary:hover {
    background: lighten($primary_colour, 10%);
}

a.btn {
    text-decoration: none;
}

.btn-secondary {
    background: $secondary_colour;
    color: #fff;
}

.btn-secondary:hover {
    background: lighten($secondary_colour, 5%);
}

.btn-clear {
    background: none;
    border: 1px solid #f4f4f4;
}

.btn-small {
    padding: 0.7em;
    font-size: 0.8em;
}

.btn-large {
    padding: 0.8em 1.2em;
    font-size: 1.1em;
}

.itemList-single {
    border: 1px solid rgba(255,255,255,0.1);
    margin-bottom: 1em;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.itemList-single:hover {
    background: rgba(255,255,255,0.05);
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.table {
    text-align: left;
    width: 100%;
}